@page "/add-product-supply"
@layout MainLayout
@inherits IyaElepoApp.Pages.AddProductSupplyComponent

@using Radzen
@using Radzen.Blazor
@using IyaElepoApp.Models.ConData
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@productsupply" Visible="@(productsupply != null)" TItem="IyaElepoApp.Models.ConData.ProductSupply" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Supply Date" Component="SupplyDate" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="display: block; width: 100%" @bind-Value="@(productsupply.SupplyDate)" Name="SupplyDate">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="SupplyDate" Text="SupplyDate is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Product Supplier" Component="ProductSupplierID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getProductSuppliersResult" TextProperty="ProductSupplierName" ValueProperty="ProductSupplierID" Placeholder="Choose ProductSupplier" style="display: block; width: 100%" @bind-Value="@(productsupply.ProductSupplierID)" Name="ProductSupplierID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="ProductSupplierID" Text="ProductSupplierID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Product" Component="ProductID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getProductsResult" TextProperty="ProductName" ValueProperty="ProductID" Placeholder="Choose Product" style="display: block; width: 100%" @bind-Value="@(productsupply.ProductID)" Name="ProductID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="ProductID" Text="ProductID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Quantity In Litres" Component="QuantityInLitres" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(productsupply.QuantityInLitres)" Name="QuantityInLitres">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="QuantityInLitres" Text="QuantityInLitres is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
