@page "/edit-product-supplier/{ProductSupplierID}"
@layout MainLayout
@inherits IyaElepoApp.Pages.EditProductSupplierComponent

@using Radzen
@using Radzen.Blazor
@using IyaElepoApp.Models.ConData
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="IyaElepoApp.Models.ConData.ProductSupplier" Data="@productsupplier" Visible="@(productsupplier != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Product Supplier Name" Component="ProductSupplierName" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="300" style="display: block; width: 100%" @bind-Value="@(productsupplier.ProductSupplierName)" Name="ProductSupplierName">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="ProductSupplierName" Text="ProductSupplierName is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Office Address" Component="OfficeAddress" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(productsupplier.OfficeAddress)" Name="OfficeAddress">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="OfficeAddress" Text="OfficeAddress is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Email" Component="Email" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(productsupplier.Email)" Name="Email">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Email" Text="Email is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Phone Number" Component="PhoneNumber" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(productsupplier.PhoneNumber)" Name="PhoneNumber">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PhoneNumber" Text="PhoneNumber is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Contact Person" Component="ContactPerson" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="150" style="width: 100%" @bind-Value="@(productsupplier.ContactPerson)" Name="ContactPerson">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
