@page "/edit-product/{ProductID}"
@layout MainLayout
@inherits IyaElepoApp.Pages.EditProductComponent

@using Radzen
@using Radzen.Blazor
@using IyaElepoApp.Models.ConData
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="IyaElepoApp.Models.ConData.Product" Data="@product" Visible="@(product != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Product Name" Component="ProductName" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(product.ProductName)" Name="ProductName">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="ProductName" Text="ProductName is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Product Type" Component="ProductTypeID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getProductTypesResult" TextProperty="ProductTypeName" ValueProperty="ProductTypeID" Placeholder="Choose ProductType" style="display: block; width: 100%" @bind-Value="@(product.ProductTypeID)" Name="ProductTypeID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="ProductTypeID" Text="ProductTypeID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Picture" Component="Picture" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(product.Picture)" Name="Picture">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
